div#inputForm{
    width: 70%;
    height: auto;
    padding: 10 1% 10 1%;
}

div#SpecDiv{
    width: 100%;
    height: auto;
    padding: 10 1% 10 1%;
}

div#SpecDiv h1 {font-size: 12;}
div#inputForm form { width: 100%; height: auto; overflow: auto}
div#inputForm #inputFormText { width: 55%; float: left; }
div#inputForm #inputFormPic { width: 45%; height: 200; float: left; }
div#inputFormText label{ width: 20%; height: 30px;}
div#inputFormText select{ width: 20%; height: 30px}
div#inputFormText input{ width: 20%; height: 30px}
div#inputFormText textarea {width: 90%; height: 120px}


label#tableLabel {text-align: right}

div#navCategory button{ margin : 5 5% 5 5%; width: 90%; }
div#navCategory{
    background: #DCDCDC;
    width: 15%;
    height: auto;
    float: left;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}